<footer class="container-box">
    <a href="https://www.instagram.com/singlesplayingdoubles/" target=”_blank”><i class="fab fa-solid fa-instagram fa-xl"></i></a>
    <a href="#" target=”_blank”><i class="fab fa-facebook-f fa-lg"></i></a>
    <p>singlesplayingdoubles.sg</p>
</footer>
