<div class="container-box nav">
    <a href="/" class="<%= primaryTab === 'home' ? 'nav-primary' : '' %>">Home</a>
    <a href="/pricing" class="<%= primaryTab === 'pricing' ? 'nav-primary' : '' %>">Pricing</a>
    <a href="/contact" class="<%= primaryTab === 'contact' ? 'nav-primary' : '' %>">Contact</a>
    <a href="/join" class="<%= primaryTab === 'join' ? 'nav-primary' : '' %>">Sign up!</a>
</div>
