<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Thanks for registering!</title>

    <link rel="icon" href="/images/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

    <script src="https://kit.fontawesome.com/e9febd9a44.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="all-container">
        <!-- Include the nav bar partial -->
        <%- include('partials/nav', { primaryTab: 'join' }) %>

        <!-- Include the hero partial -->
        <%- include('partials/hero', {
            title: 'Thanks!',
            subtitle: 'We\'ll be in touch soon.',
            showIGButton: true,
        }) %>

        <!-- Include the footer partial -->
        <%- include('partials/footer') %>
    </div>
</body>
</html>
