h2 {
    font-family: "Lora", serif;
    font-size: 2.0em;
    margin-bottom: 40px;
    color: #333;
}

label, .sublabel {
    display: block;
    text-align: left;
    margin-bottom: 15px;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 1.1em;
    color: #333;
}

label.required::after {
    content: " *";
    color: red;
    font-weight: normal;
}

.sublabel {
    font-weight: normal;
    font-style: italic;
    font-size: 1em;
    margin-top: -4px;
}

input, select, textarea {
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
    margin-bottom: 35px;
    border: 1px solid #ccc;
    font-size: 1em;
    font-family: "Montserrat", sans-serif;
}

textarea {
    resize: none;
    height: 120px;
}

button {
    border: 0px;
}

/* Media query for small screens */
@media only screen and (max-width: 767px) {

    h2 {
        font-size: 1.7em;
        margin-bottom: 40px;
    }

}

@media (prefers-color-scheme: dark) {

    h2, label, .sublabel {
        color: #e0e0e0;
    }

    input, select, textarea {
        background-color: #616161;
        color: #e0e0e0;
        border-color: #777;
    }

    input::placeholder, textarea::placeholder {
        color: #969696;
    }

}
