body {
    font-family: "Montserrat", sans-serif;

    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0;
    
    background-color: #f9f9f9;
    background-image: url('../images/background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.all-container {
    width: 1024px;
    display: grid;
    padding: 32px 80px;
}

.container-box {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 8px;
    overflow: hidden;
    padding: 48px;
    margin: 8px 0;
}
.container-box:first-child {
    margin-top: 0;
}
.container-box:last-child {
    margin-bottom: 0;
}

.nav {
    display: flex;
    padding: 0;
}

.hero {
    display: block;
    text-align: center;
}

.nav a {
    flex: 1;
    padding: 16px;
    color: #333;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    font-size: 1.0em;
    font-weight: bold;
    text-align: center;
    transition: background-color 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav a:hover {
    background-color: rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.nav a.nav-primary {
    background-color: #FF6347;
    color: white;
}

.nav a.nav-primary:hover {
    background-color: #e55347;
}

h1 {
    font-family: "Lora", serif;
    font-size: 2.5em;
    color: #333;
    text-align: center;
    padding: 16px 0;
    margin: 0;
}
h1:first-child {
    padding-top: 0;
}
h1:last-child {
    padding-bottom: 0;
}

h2 {
    font-family: "Lora", serif;
    font-size: 2.0em;
    color: #333;
    padding: 16px 0;
    margin: 0;
}
h2:first-child {
    padding-top: 0;
}
h2:last-child {
    padding-bottom: 0;
}

h3 {
    font-family: "Montserrat", sans-serif;
    color: #333;
    font-weight: normal;
    font-size: 1.2em;
    padding: 16px 0;
    margin: 0;
    text-align: center;
}
h3:first-child {
    padding-top: 0;
}
h3:last-child {
    padding-bottom: 0;
}

p {
    font-size: 1.0em;
    color: #333;
    padding: 16px 0;
    margin: 0;
}
p:first-child {
    padding-top: 0;
}
p:last-child {
    padding-bottom: 0;
}

.hero-item {
    margin: 16px 0;
}
.hero-item:first-child {
    margin-top: 0;
}
.hero-item:last-child {
    margin-bottom: 0;
}

.hero-logo {
    max-width: 150px;
    margin-bottom: 0;
}

.hero-item h1 {
    padding-bottom: 4px;
}

.hero-item h3 {
    padding-top: 4px;
}

.cta-btn {
    display: inline-block;
    padding: 16px 32px;
    margin: 16px 0 0 0;
    background-color: #FF6347;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    font-family: "Montserrat", sans-serif;
    font-size: 1.1em;
    text-align: center;
    transition: background-color 0.3s ease;
}

.cta-btn:hover {
    background-color: #e55347;
    cursor: pointer;
}

.cta-btn:disabled {
    background-color: #797979;
    cursor: default;
}

/* Steps */

.steps {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.step {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    width: 250px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.step-icon {
    font-size: 50px;
    color: #007bff;
    margin-bottom: 15px;
}

/* Form */

.form-btn {
    display: block;
    margin: 16px auto 0 auto;
}

hr {
    margin: 16px 0;
    background-color: #686868;
}

.input-container {
    padding: 16px 0;
}
.input-container:first-of-type {
    padding-top: 0;
}
.input-container:last-of-type {
    padding-bottom: 0;
}

label, .sublabel {
    display: block;
    font-family: "Montserrat", sans-serif;
    color: #333;
}

label {
    margin: 0 0 8px 0;
    font-size: 1.1em;
    font-weight: bold;
}

.sublabel {
    margin: 8px 0;
    font-weight: normal;
    font-style: italic;
    font-size: 1em;
}

label.required::after {
    content: " *";
    color: red;
    font-weight: normal;
}

input, select, textarea {
    width: 100%;
    padding: 16px;
    box-sizing: border-box;
    margin: 8px 0 0 0;
    border: 1px solid #ccc;
    font-size: 1em;
    font-family: "Montserrat", sans-serif;
    border-radius: 8px;
    color: #333;
    outline: none;
}

input:focus, select:focus, textarea:focus {
    border-color: #FF6347;
    box-shadow: 0 0 3px #FF6347;
}

textarea {
    resize: none;
    height: 150px;
}

button {
    border: 0px;
}

#error {
    display: none;
    text-align: center;
}

.hidden {
    display: none;
}

/* Media query for small screens */
@media only screen and (max-width: 767px) {

    .all-container {
        width: 100%;
        padding: 16px;
    }

    .container-box:not(.nav) {
        padding: 24px;
    }

    h1 {
        font-size: 2.0em;
    }

    h2 {
        font-size: 1.7em;
    }

}

/* Media query for dark mode */
@media (prefers-color-scheme: dark) {

    body {
        background-color: #121212;
        background-image:  url('../images/background-dark.jpg');
        color: #f1f1f1;
    }

    .nav, .body-container {
        background-color: rgba(0, 0, 0, 0.4);
    }

    .nav a {
        color: white;
    }

    .nav a:hover {
        background-color: #ababab4f;
    }

    .nav a.nav-primary {
        background-color: #cf4a33;
    }

    h1, h2, h3, a, p, label, .sublabel {
        color: #e0e0e0;
    }

    .cta-btn {
        background-color: #cf4a33;
    }

    input, select, textarea {
        background-color: #616161;
        color: #e0e0e0;
        border-color: #777;
    }

    input::placeholder, textarea::placeholder {
        color: #969696;
    }

}
