body {
    font-family: "Montserrat", sans-serif;

    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0;
    
    background-color: #f9f9f9;
    background-image: url('../images/background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.all-container {
    width: 820px;
}

.nav, .body-container {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 8px;
    margin-left: 80px;
    margin-right: 80px;
    overflow: hidden;
}

.nav {
    display: flex;
    margin-top: 32px;
    margin-bottom: 32px;
}

.nav a {
    flex: 1;
    padding: 16px;
    color: #333;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    font-size: 1.0em;
    font-weight: bold;
    text-align: center;
    transition: background-color 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav a:hover {
    background-color: rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.nav a.nav-primary {
    background-color: #FF6347;
    color: white;
}

.nav a.nav-primary:hover {
    background-color: #e55347;
}

.body-container {
    padding: 48px;
    margin-bottom: 32px;
}

.logo {
    display: block;
    max-width: 150px;
    margin: 0 auto 16px auto;
}

h1 {
    font-family: "Lora", serif;
    font-size: 2.5em;
    color: #333;
    text-align: center;
    padding: 16px 0;
    margin: 0;
}

h1:first-child {
    padding: 0 0 16px 0;
}

h2 {
    font-family: "Lora", serif;
    font-size: 2.0em;
    color: #333;
    padding: 16px 0;
    margin: 0;
}

h2:first-child {
    padding: 0 0 16px 0;
}

h3 {
    font-family: "Montserrat", sans-serif;
    color: #333;
    font-weight: normal;
    font-size: 1.2em;
    padding: 16px 0;
    margin: 0;
    text-align: center;
}

h3:first-child {
    padding: 0 0 16px 0;
}

p {
    font-size: 1.0em;
    color: #333;
    padding: 16px 0;
    margin: 0;
}

p:first-child {
    margin: 0 0 16px 0;
}

.cta-btn {
    display: block;
    padding: 16px 32px;
    margin: 16px auto 0 auto;
    background-color: #FF6347;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    font-family: "Montserrat", sans-serif;
    font-size: 1.1em;
    text-align: center;
    transition: background-color 0.3s ease;
}

.cta-btn:hover {
    background-color: #e55347;
    cursor: pointer;
}

hr {
    margin: 16px 0;
}

form {
    padding: 16px 0 0 0;
}

.input-container {
    padding: 16px 0;
}

.input-container:first-child {
    padding: 0 0 16px 0;
}


label, .sublabel {
    display: block;
    font-family: "Montserrat", sans-serif;
    color: #333;
}

label {
    margin: 0 0 8px 0;
    font-size: 1.1em;
    font-weight: bold;
}

.sublabel {
    margin: 8px 0;
    font-weight: normal;
    font-style: italic;
    font-size: 1em;
}

label.required::after {
    content: " *";
    color: red;
    font-weight: normal;
}

input, select, textarea {
    width: 100%;
    padding: 16px;
    box-sizing: border-box;
    margin: 8px 0 0 0;
    border: 1px solid #ccc;
    font-size: 1em;
    font-family: "Montserrat", sans-serif;
    border-radius: 8px;
}

textarea {
    resize: none;
    height: 150px;
}

button {
    border: 0px;
}

#error {
    display: none;
    text-align: center;
}

.hidden {
    display: none;
}

/* Media query for small screens */
@media only screen and (max-width: 767px) {

    .all-container {
        width: 100%;
    }

    .nav {
        margin: 16px;
    }

    .body-container {
        padding: 32px;
        margin: 16px;
    }

    h1 {
        font-size: 2.0em;
    }

    h2 {
        font-size: 1.7em;
    }

}

/* Media query for dark mode */
@media (prefers-color-scheme: dark) {

    body {
        background-color: #121212;
        background-image:  url('../images/background-dark.jpg');
        color: #f1f1f1;
    }

    .nav, .body-container {
        background-color: rgba(0, 0, 0, 0.4);
    }

    .nav a {
        color: white;
    }

    .nav a:hover {
        background-color: #ababab4f;
    }

    .nav a.nav-primary {
        background-color: #cf4a33;
    }

    h1, h2, h3, a, p, label, .sublabel {
        color: #e0e0e0;
    }

    .cta-btn {
        background-color: #cf4a33;
    }

    input, select, textarea {
        background-color: #616161;
        color: #e0e0e0;
        border-color: #777;
    }

    input::placeholder, textarea::placeholder {
        color: #969696;
    }

}
