body {
    font-family: "Montserrat", sans-serif;

    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    
    background-color: #f9f9f9;
    background-image: url('../images/background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.container {
    max-width: 600px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 50px;
    margin: 80px;
    border-radius: 10px;
}

.logo {
    max-width: 150px;
    margin-bottom: 20px;
}

h1 {
    font-family: "Lora", serif;
    font-size: 2.5em;
    margin: 0 0 20px 0;
    color: #333;
}

p {
    font-size: 1.2em;
    color: #666;
    margin: 0;
}

.cta-btn {
    display: inline-block;
    padding: 15px 30px;
    margin-top: 20px;
    background-color: #FF6347;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-family: "Montserrat", sans-serif;
    font-size: 1.1em;
    transition: background-color 0.3s ease;
}

.cta-btn:hover {
    background-color: #e55347;
}

/* Media query for small screens */
@media only screen and (max-width: 767px) {

    .container {
        padding: 20px;
        margin: 20px;
        width: 100%;
    }

}

@media (prefers-color-scheme: dark) {

    body {
        background-color: #121212;
        background-image:  url('../images/background-dark.jpg');
        color: #f1f1f1;
    }

    .container {
        background-color: rgba(0, 0, 0, 0.4);
    }

    h1, a, p {
        color: #e0e0e0;
    }

    .cta-btn {
        background-color: #cf4a33;
    }

}
